@font-face {
    font-family: 'feather';
    src:
      url('../icons/feather.woff?e51d5j') format('woff'),
      url('../icons/feather.woff2?e51d5j') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="feathericon-"], [class*=" feathericon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'feather' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .feathericon-activity:before {
    content: "\e900";
  }
  .feathericon-airplay:before {
    content: "\e901";
  }
  .feathericon-alert-circle:before {
    content: "\e902";
  }
  .feathericon-alert-octagon:before {
    content: "\e903";
  }
  .feathericon-alert-triangle:before {
    content: "\e904";
  }
  .feathericon-align-center:before {
    content: "\e905";
  }
  .feathericon-align-justify:before {
    content: "\e906";
  }
  .feathericon-align-left:before {
    content: "\e907";
  }
  .feathericon-align-right:before {
    content: "\e908";
  }
  .feathericon-anchor:before {
    content: "\e909";
  }
  .feathericon-aperture:before {
    content: "\e90a";
  }
  .feathericon-archive:before {
    content: "\e90b";
  }
  .feathericon-arrow-down:before {
    content: "\e90c";
  }
  .feathericon-arrow-down-circle:before {
    content: "\e90d";
  }
  .feathericon-arrow-down-left:before {
    content: "\e90e";
  }
  .feathericon-arrow-down-right:before {
    content: "\e90f";
  }
  .feathericon-arrow-left:before {
    content: "\e910";
  }
  .feathericon-arrow-left-circle:before {
    content: "\e911";
  }
  .feathericon-arrow-right:before {
    content: "\e912";
  }
  .feathericon-arrow-right-circle:before {
    content: "\e913";
  }
  .feathericon-arrow-up:before {
    content: "\e914";
  }
  .feathericon-arrow-up-circle:before {
    content: "\e915";
  }
  .feathericon-arrow-up-left:before {
    content: "\e916";
  }
  .feathericon-arrow-up-right:before {
    content: "\e917";
  }
  .feathericon-at-sign:before {
    content: "\e918";
  }
  .feathericon-award:before {
    content: "\e919";
  }
  .feathericon-bar-chart:before {
    content: "\e91a";
  }
  .feathericon-bar-chart-2:before {
    content: "\e91b";
  }
  .feathericon-battery:before {
    content: "\e91c";
  }
  .feathericon-battery-charging:before {
    content: "\e91d";
  }
  .feathericon-bell:before {
    content: "\e91e";
  }
  .feathericon-bell-off:before {
    content: "\e91f";
  }
  .feathericon-bluetooth:before {
    content: "\e920";
  }
  .feathericon-bold:before {
    content: "\e921";
  }
  .feathericon-book:before {
    content: "\e922";
  }
  .feathericon-book-open:before {
    content: "\e923";
  }
  .feathericon-bookmark:before {
    content: "\e924";
  }
  .feathericon-box:before {
    content: "\e925";
  }
  .feathericon-briefcase:before {
    content: "\e926";
  }
  .feathericon-calendar:before {
    content: "\e927";
  }
  .feathericon-camera:before {
    content: "\e928";
  }
  .feathericon-camera-off:before {
    content: "\e929";
  }
  .feathericon-cast:before {
    content: "\e92a";
  }
  .feathericon-check:before {
    content: "\e92b";
  }
  .feathericon-check-circle:before {
    content: "\e92c";
  }
  .feathericon-check-square:before {
    content: "\e92d";
  }
  .feathericon-chevron-down:before {
    content: "\e92e";
  }
  .feathericon-chevron-left:before {
    content: "\e92f";
  }
  .feathericon-chevron-right:before {
    content: "\e930";
  }
  .feathericon-chevron-up:before {
    content: "\e931";
  }
  .feathericon-chevrons-down:before {
    content: "\e932";
  }
  .feathericon-chevrons-left:before {
    content: "\e933";
  }
  .feathericon-chevrons-right:before {
    content: "\e934";
  }
  .feathericon-chevrons-up:before {
    content: "\e935";
  }
  .feathericon-chrome:before {
    content: "\e936";
  }
  .feathericon-circle:before {
    content: "\e937";
  }
  .feathericon-clipboard:before {
    content: "\e938";
  }
  .feathericon-clock:before {
    content: "\e939";
  }
  .feathericon-cloud:before {
    content: "\e93a";
  }
  .feathericon-cloud-drizzle:before {
    content: "\e93b";
  }
  .feathericon-cloud-lightning:before {
    content: "\e93c";
  }
  .feathericon-cloud-off:before {
    content: "\e93d";
  }
  .feathericon-cloud-rain:before {
    content: "\e93e";
  }
  .feathericon-cloud-snow:before {
    content: "\e93f";
  }
  .feathericon-code:before {
    content: "\e940";
  }
  .feathericon-codepen:before {
    content: "\e941";
  }
  .feathericon-codesandbox:before {
    content: "\e942";
  }
  .feathericon-coffee:before {
    content: "\e943";
  }
  .feathericon-columns:before {
    content: "\e944";
  }
  .feathericon-command:before {
    content: "\e945";
  }
  .feathericon-compass:before {
    content: "\e946";
  }
  .feathericon-copy:before {
    content: "\e947";
  }
  .feathericon-corner-down-left:before {
    content: "\e948";
  }
  .feathericon-corner-down-right:before {
    content: "\e949";
  }
  .feathericon-corner-left-down:before {
    content: "\e94a";
  }
  .feathericon-corner-left-up:before {
    content: "\e94b";
  }
  .feathericon-corner-right-down:before {
    content: "\e94c";
  }
  .feathericon-corner-right-up:before {
    content: "\e94d";
  }
  .feathericon-corner-up-left:before {
    content: "\e94e";
  }
  .feathericon-corner-up-right:before {
    content: "\e94f";
  }
  .feathericon-cpu:before {
    content: "\e950";
  }
  .feathericon-credit-card:before {
    content: "\e951";
  }
  .feathericon-crop:before {
    content: "\e952";
  }
  .feathericon-crosshair:before {
    content: "\e953";
  }
  .feathericon-database:before {
    content: "\e954";
  }
  .feathericon-delete:before {
    content: "\e955";
  }
  .feathericon-disc:before {
    content: "\e956";
  }
  .feathericon-dollar-sign:before {
    content: "\e957";
  }
  .feathericon-download:before {
    content: "\e958";
  }
  .feathericon-download-cloud:before {
    content: "\e959";
  }
  .feathericon-droplet:before {
    content: "\e95a";
  }
  .feathericon-edit:before {
    content: "\e95b";
  }
  .feathericon-edit-2:before {
    content: "\e95c";
  }
  .feathericon-edit-3:before {
    content: "\e95d";
  }
  .feathericon-external-link:before {
    content: "\e95e";
  }
  .feathericon-eye:before {
    content: "\e95f";
  }
  .feathericon-eye-off:before {
    content: "\e960";
  }
  .feathericon-facebook:before {
    content: "\e961";
  }
  .feathericon-fast-forward:before {
    content: "\e962";
  }
  .feathericon-feather:before {
    content: "\e963";
  }
  .feathericon-figma:before {
    content: "\e964";
  }
  .feathericon-file:before {
    content: "\e965";
  }
  .feathericon-file-minus:before {
    content: "\e966";
  }
  .feathericon-file-plus:before {
    content: "\e967";
  }
  .feathericon-file-text:before {
    content: "\e968";
  }
  .feathericon-film:before {
    content: "\e969";
  }
  .feathericon-filter:before {
    content: "\e96a";
  }
  .feathericon-flag:before {
    content: "\e96b";
  }
  .feathericon-folder:before {
    content: "\e96c";
  }
  .feathericon-folder-minus:before {
    content: "\e96d";
  }
  .feathericon-folder-plus:before {
    content: "\e96e";
  }
  .feathericon-framer:before {
    content: "\e96f";
  }
  .feathericon-frown:before {
    content: "\e970";
  }
  .feathericon-gift:before {
    content: "\e971";
  }
  .feathericon-git-branch:before {
    content: "\e972";
  }
  .feathericon-git-commit:before {
    content: "\e973";
  }
  .feathericon-git-merge:before {
    content: "\e974";
  }
  .feathericon-git-pull-request:before {
    content: "\e975";
  }
  .feathericon-github:before {
    content: "\e976";
  }
  .feathericon-gitlab:before {
    content: "\e977";
  }
  .feathericon-globe:before {
    content: "\e978";
  }
  .feathericon-grid:before {
    content: "\e979";
  }
  .feathericon-hard-drive:before {
    content: "\e97a";
  }
  .feathericon-hash:before {
    content: "\e97b";
  }
  .feathericon-headphones:before {
    content: "\e97c";
  }
  .feathericon-heart:before {
    content: "\e97d";
  }
  .feathericon-help-circle:before {
    content: "\e97e";
  }
  .feathericon-hexagon:before {
    content: "\e97f";
  }
  .feathericon-home:before {
    content: "\e980";
  }
  .feathericon-image:before {
    content: "\e981";
  }
  .feathericon-inbox:before {
    content: "\e982";
  }
  .feathericon-info:before {
    content: "\e983";
  }
  .feathericon-instagram:before {
    content: "\e984";
  }
  .feathericon-italic:before {
    content: "\e985";
  }
  .feathericon-key:before {
    content: "\e986";
  }
  .feathericon-layers:before {
    content: "\e987";
  }
  .feathericon-layout:before {
    content: "\e988";
  }
  .feathericon-life-buoy:before {
    content: "\e989";
  }
  .feathericon-link:before {
    content: "\e98a";
  }
  .feathericon-link-2:before {
    content: "\e98b";
  }
  .feathericon-linkedin:before {
    content: "\e98c";
  }
  .feathericon-list:before {
    content: "\e98d";
  }
  .feathericon-loader:before {
    content: "\e98e";
  }
  .feathericon-lock:before {
    content: "\e98f";
  }
  .feathericon-log-in:before {
    content: "\e990";
  }
  .feathericon-log-out:before {
    content: "\e991";
  }
  .feathericon-mail:before {
    content: "\e992";
  }
  .feathericon-map:before {
    content: "\e993";
  }
  .feathericon-map-pin:before {
    content: "\e994";
  }
  .feathericon-maximize:before {
    content: "\e995";
  }
  .feathericon-maximize-2:before {
    content: "\e996";
  }
  .feathericon-meh:before {
    content: "\e997";
  }
  .feathericon-menu:before {
    content: "\e998";
  }
  .feathericon-message-circle:before {
    content: "\e999";
  }
  .feathericon-message-square:before {
    content: "\e99a";
  }
  .feathericon-mic:before {
    content: "\e99b";
  }
  .feathericon-mic-off:before {
    content: "\e99c";
  }
  .feathericon-minimize:before {
    content: "\e99d";
  }
  .feathericon-minimize-2:before {
    content: "\e99e";
  }
  .feathericon-minus:before {
    content: "\e99f";
  }
  .feathericon-minus-circle:before {
    content: "\e9a0";
  }
  .feathericon-minus-square:before {
    content: "\e9a1";
  }
  .feathericon-monitor:before {
    content: "\e9a2";
  }
  .feathericon-moon:before {
    content: "\e9a3";
  }
  .feathericon-more-horizontal:before {
    content: "\e9a4";
  }
  .feathericon-more-vertical:before {
    content: "\e9a5";
  }
  .feathericon-mouse-pointer:before {
    content: "\e9a6";
  }
  .feathericon-move:before {
    content: "\e9a7";
  }
  .feathericon-music:before {
    content: "\e9a8";
  }
  .feathericon-navigation:before {
    content: "\e9a9";
  }
  .feathericon-navigation-2:before {
    content: "\e9aa";
  }
  .feathericon-octagon:before {
    content: "\e9ab";
  }
  .feathericon-package:before {
    content: "\e9ac";
  }
  .feathericon-paperclip:before {
    content: "\e9ad";
  }
  .feathericon-pause:before {
    content: "\e9ae";
  }
  .feathericon-pause-circle:before {
    content: "\e9af";
  }
  .feathericon-pen-tool:before {
    content: "\e9b0";
  }
  .feathericon-percent:before {
    content: "\e9b1";
  }
  .feathericon-phone:before {
    content: "\e9b2";
  }
  .feathericon-phone-call:before {
    content: "\e9b3";
  }
  .feathericon-phone-forwarded:before {
    content: "\e9b4";
  }
  .feathericon-phone-incoming:before {
    content: "\e9b5";
  }
  .feathericon-phone-missed:before {
    content: "\e9b6";
  }
  .feathericon-phone-off:before {
    content: "\e9b7";
  }
  .feathericon-phone-outgoing:before {
    content: "\e9b8";
  }
  .feathericon-pie-chart:before {
    content: "\e9b9";
  }
  .feathericon-play:before {
    content: "\e9ba";
  }
  .feathericon-play-circle:before {
    content: "\e9bb";
  }
  .feathericon-plus:before {
    content: "\e9bc";
  }
  .feathericon-plus-circle:before {
    content: "\e9bd";
  }
  .feathericon-plus-square:before {
    content: "\e9be";
  }
  .feathericon-pocket:before {
    content: "\e9bf";
  }
  .feathericon-power:before {
    content: "\e9c0";
  }
  .feathericon-printer:before {
    content: "\e9c1";
  }
  .feathericon-radio:before {
    content: "\e9c2";
  }
  .feathericon-refresh-ccw:before {
    content: "\e9c3";
  }
  .feathericon-refresh-cw:before {
    content: "\e9c4";
  }
  .feathericon-repeat:before {
    content: "\e9c5";
  }
  .feathericon-rewind:before {
    content: "\e9c6";
  }
  .feathericon-rotate-ccw:before {
    content: "\e9c7";
  }
  .feathericon-rotate-cw:before {
    content: "\e9c8";
  }
  .feathericon-rss:before {
    content: "\e9c9";
  }
  .feathericon-save:before {
    content: "\e9ca";
  }
  .feathericon-scissors:before {
    content: "\e9cb";
  }
  .feathericon-search:before {
    content: "\e9cc";
  }
  .feathericon-send:before {
    content: "\e9cd";
  }
  .feathericon-server:before {
    content: "\e9ce";
  }
  .feathericon-settings:before {
    content: "\e9cf";
  }
  .feathericon-share:before {
    content: "\e9d0";
  }
  .feathericon-share-2:before {
    content: "\e9d1";
  }
  .feathericon-shield:before {
    content: "\e9d2";
  }
  .feathericon-shield-off:before {
    content: "\e9d3";
  }
  .feathericon-shopping-bag:before {
    content: "\e9d4";
  }
  .feathericon-shopping-cart:before {
    content: "\e9d5";
  }
  .feathericon-shuffle:before {
    content: "\e9d6";
  }
  .feathericon-sidebar:before {
    content: "\e9d7";
  }
  .feathericon-skip-back:before {
    content: "\e9d8";
  }
  .feathericon-skip-forward:before {
    content: "\e9d9";
  }
  .feathericon-slack:before {
    content: "\e9da";
  }
  .feathericon-slash:before {
    content: "\e9db";
  }
  .feathericon-sliders:before {
    content: "\e9dc";
  }
  .feathericon-smartphone:before {
    content: "\e9dd";
  }
  .feathericon-smile:before {
    content: "\e9de";
  }
  .feathericon-speaker:before {
    content: "\e9df";
  }
  .feathericon-square:before {
    content: "\e9e0";
  }
  .feathericon-star:before {
    content: "\e9e1";
  }
  .feathericon-stop-circle:before {
    content: "\e9e2";
  }
  .feathericon-sun:before {
    content: "\e9e3";
  }
  .feathericon-sunrise:before {
    content: "\e9e4";
  }
  .feathericon-sunset:before {
    content: "\e9e5";
  }
  .feathericon-tablet:before {
    content: "\e9e6";
  }
  .feathericon-tag:before {
    content: "\e9e7";
  }
  .feathericon-target:before {
    content: "\e9e8";
  }
  .feathericon-terminal:before {
    content: "\e9e9";
  }
  .feathericon-thermometer:before {
    content: "\e9ea";
  }
  .feathericon-thumbs-down:before {
    content: "\e9eb";
  }
  .feathericon-thumbs-up:before {
    content: "\e9ec";
  }
  .feathericon-toggle-left:before {
    content: "\e9ed";
  }
  .feathericon-toggle-right:before {
    content: "\e9ee";
  }
  .feathericon-tool:before {
    content: "\e9ef";
  }
  .feathericon-trash:before {
    content: "\e9f0";
  }
  .feathericon-trash-2:before {
    content: "\e9f1";
  }
  .feathericon-trello:before {
    content: "\e9f2";
  }
  .feathericon-trending-down:before {
    content: "\e9f3";
  }
  .feathericon-trending-up:before {
    content: "\e9f4";
  }
  .feathericon-triangle:before {
    content: "\e9f5";
  }
  .feathericon-truck:before {
    content: "\e9f6";
  }
  .feathericon-tv:before {
    content: "\e9f7";
  }
  .feathericon-twitch:before {
    content: "\e9f8";
  }
  .feathericon-twitter:before {
    content: "\e9f9";
  }
  .feathericon-type:before {
    content: "\e9fa";
  }
  .feathericon-umbrella:before {
    content: "\e9fb";
  }
  .feathericon-underline:before {
    content: "\e9fc";
  }
  .feathericon-unlock:before {
    content: "\e9fd";
  }
  .feathericon-upload:before {
    content: "\e9fe";
  }
  .feathericon-upload-cloud:before {
    content: "\e9ff";
  }
  .feathericon-user:before {
    content: "\ea00";
  }
  .feathericon-user-check:before {
    content: "\ea01";
  }
  .feathericon-user-minus:before {
    content: "\ea02";
  }
  .feathericon-user-plus:before {
    content: "\ea03";
  }
  .feathericon-user-x:before {
    content: "\ea04";
  }
  .feathericon-users:before {
    content: "\ea05";
  }
  .feathericon-video:before {
    content: "\ea06";
  }
  .feathericon-video-off:before {
    content: "\ea07";
  }
  .feathericon-voicemail:before {
    content: "\ea08";
  }
  .feathericon-volume:before {
    content: "\ea09";
  }
  .feathericon-volume-1:before {
    content: "\ea0a";
  }
  .feathericon-volume-2:before {
    content: "\ea0b";
  }
  .feathericon-volume-x:before {
    content: "\ea0c";
  }
  .feathericon-watch:before {
    content: "\ea0d";
  }
  .feathericon-wifi:before {
    content: "\ea0e";
  }
  .feathericon-wifi-off:before {
    content: "\ea0f";
  }
  .feathericon-wind:before {
    content: "\ea10";
  }
  .feathericon-x:before {
    content: "\ea11";
  }
  .feathericon-x-circle:before {
    content: "\ea12";
  }
  .feathericon-x-octagon:before {
    content: "\ea13";
  }
  .feathericon-x-square:before {
    content: "\ea14";
  }
  .feathericon-youtube:before {
    content: "\ea15";
  }
  .feathericon-zap:before {
    content: "\ea16";
  }
  .feathericon-zap-off:before {
    content: "\ea17";
  }
  .feathericon-zoom-in:before {
    content: "\ea18";
  }
  .feathericon-zoom-out:before {
    content: "\ea19";
  }
  